<div class="section-title">
<h1>Mes réservations</h1>
</div>

<div class="container-my-bookings">
<div class="cards-container d-flex">
  <p><%= "Vous n'avez pas encore effectué de réservations" if @bookings.empty? %></p>
  <% @bookings.each do |booking| %>
  <div class="card-booking">
  <div class="card-booking-img">

  </div>
    <div class="card-title-booking">
      <h5><strong><%= link_to booking.plant.name, plant_path(booking.plant), class: "show-from-dashboard"%></strong></h5>
    </div>
      <div class="card-text-booking">
        <p> Vous avez effectué une réservation pour <%= booking.plant.name %>, plus précisemment un <%= booking.plant.category %></p>
      </div>
      <div class="card-details-booking">

        <p>Du: <%= booking.start_date %> Au: <%= booking.end_date %></p>
       

      
      </div>
    </div>
      <% end %>
</div>
</div>


<div class="section-title">
<h1>Mes plantes réservées</h1>
</div>

<div class="container-booked-plants">
<div class="cards-container d-flex">
  <p><%= "Vous n'avez pas encore de plantes louées" if @booked.empty? %></p>
  <% @booked.each do |booking| %>
    <div class="card-booking">
      <div class="card-booking-img">
      </div>
    <div class="card-title-booking">
      <h5><strong><%= booking.plant.name %></strong></h5>
    </div>
      <div class="card-text-booking">
        <p>Une demande de réservation a été effectuée pour votre <%= booking.plant.name %>, le <%= booking.plant.category %></p>
      </div>
      <div class="card-details-booking">


        </div>
      </div>
      <p> <%= booking.status %></p>
      <%= link_to 'Accept', owner_accept_booking_path(booking), method: :patch %>
      <%= link_to 'Decline', "#" %>
    </div>
  <% end %>
</div>
</div>

