<br>
<br>
<br>
<div class="row card-product" id="plant_card_profile">
  <div class="col-4">
    <p><%= image_tag("avatar.png") if @user.photo.blank? %></p>
    <%= cl_image_tag(@user.photo.key,width: 700, height: 350, crop: :fill) if @user.photo.present? %>
    <%= simple_form_for @user do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.submit 'Add your photo', class: 'btn btn-success' %>
    <% end %>
  </div>
  
  <div class="col-6">
    <div class="mx-2">
      <div>
      
        <div class="card-product-infos">
          <h2><%= @user.name %></h2>
          <p><%= @user.email %></p>
        </div>

        <div class="container">
          <div class="section-title">
            <h1>My plants</h1>
          </div>
          <div class="cards-container">
              <p><%= "You have no plant fort the moment" if @user.plants.empty? %></p>
              <div class="cards" id="owner-cards-reservation">
                <% @user.plants.each do |plant| %>
                  <div class="card" id="plant-card-index">
                  <div class="plant-card-image" id="image-user-plant" style="background-image: url('<%= cl_image_path(plant.photo.key) %>')">
                    <%#= cl_image_tag(plant.photo.key) %>
                  </div>
                  <div class="plant-card-content">
                    <div class="plant-card-title">
                      <h4><%= plant.name %></h4>
                    </div>
                    <div class="flex">
                      <i class="material-icons mr-2"><%= plant.price_per_day %>€/day</i>
                    </div>
                  </div>
              </div>
              <%end%>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> 
</div>  