<h1>Plants#new</h1>
<p>Find me in app/views/plants/new.html.erb</p>
<div class="container-md">
  <div class="row-new">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a plant</h3>
          <%= simple_form_for @plant do |f| %>
            <%= f.input :name, placeholder: 'Name of your plant' %>
            <%= f.input :address, id:'plant-localisation', placeholder: 'Enter your location' %>
            <%= f.input :description, placeholder: 'Enter a description about the plant' %>
            <%= f.input :category, prompt: 'Choose a category', collection: ['Aromatic', 'Small Fruits', 'Comestible flowoer', 'Decoration', 'Healthy', 'Easy-maintenance'] %>
            <%= f.input :price_per_day, placeholder: '€/day' %>
            <%= f.input :orientation, as: :radio_buttons, wrapper_html: {class: 'inline'}, collection: ['North', 'East', 'South', 'West'] %>
            <%= f.input :sun, as: :radio_buttons, class:'form-check-inline', collection: ['Shadow 🌥', 'Sunny 🌞', 'Whatever 🌤'] %>
            <%= f.input :photo, as: :file %>
            <%= f.submit 'Add plant', class: 'btn btn-success' %>
          <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>