<div class="row card-product">

  <div class="col-6">
    <%= cl_image_tag(@plant.photo.key,width: 700, height: 350, crop: :fill) %>
  </div>

  <div class="col-6">
    <div class="mx-2">
      <div class="d-flex justify-content-end">
        <div class="btn-flat"> Price/day: <%= @plant.price_per_day%> $</div>
      </div>
      <div>
        <div class="card-product-infos">
          <h2><%= @plant.name %></h2>

          <p><%= @plant.description %>
          <br>
          <br>
            Orientation: <%= @plant.orientation %>
          <br>
          <br>
            Address: <%= @plant.address %>
          </p>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <%= link_to "Book Plant", "#", class: "btn-flat-save" %>
      </div>
    </div>
  </div>

</div>

