<br>
<br>
<br>

<div class="row card-product" id="plant_card">

  <div class="col-4">
    <%= cl_image_tag(@plant.photo.key,width: 700, height: 350, crop: :fill) %>
    <%= link_to 'Return', plants_index_path, class: "btn btn-light"  %>
  </div>

  <div class="col-6">
    <div class="mx-2">
      <div class="d-flex justify-content-end">
        <div class="btn-flat"><%= @plant.price_per_day%>€/day</div>
      </div>
      <div>
        <div class="card-product-infos">
          <h2><%= @plant.name %></h2>

          <p><%= @plant.description %>
          <br>
          <br>
            Orientation: <%= @plant.orientation %>
          <br>
          <br>
            Address: <%= @plant.address %>
          </p>
        </div>
      </div>
      <div class="container-lg">
        <div class="row-new">
        
            <div class="bg-white rounded p-3 shadow">
              <h3>Book a plant</h3>
                <%= simple_form_for [@plant, @booking] do |f| %>
                  <%= f.input :start_date, as: :date, html5: true %>
                  <%= f.input :end_date, as: :date, html5: true %>            
                  <%= f.submit 'Book this plant', class: 'btn btn-success' %>
                <% end %>
            </div>
        
        </div>
      </div>
    </div>
  </div>

</div>

